*.clas
/GestorPreguntas.class
/Jugador.class
/Main$1.class
/Main.class
/Pregunta.class
/VentanaJuego.class
/VentanaJuego$VentanaJuego.class
.classpath
.project
/VentanaJuego$1.class
*.class
VentanaJuego$1.class